*,
*::before,
*::after {
  box-sizing: border-box;
}
/* body {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
} */
.hidden {
  display: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}



/* #region stail */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  max-height: 100%;
  font-family: "Fira Sans", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* margin-top: 0;
    margin-bottom: 0; */

}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

body {
    max-height: 100%;
  font-family: "Fira Sans", sans-serif;
  /* color: var(--slate);
  background-color: var(--white);
  font-weight: 400;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0; */
}

/* вбирае підкреслення з поселань */
a {
  text-decoration: none;
  /* color: inherit; */
  font-style: normal;
}

h2,
h3 {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* #endregion stail */
